<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body class="bg-zinc-900">

    <div class="w-full h-full bg-zinc-900 text-white p-10">
    <div class="nav mb-10">
        <a href="/read" class="text-blue-400 underline">Read Users</a>
    </div>
        
        <h2 class="text-2xl font-bold mt-4">Create User</h2>
        <form action="/create" method="Post">
            <input type="text" name="name" placeholder="name"
                   class="bg-gray-700 text-white px-3 py-2 rounded-md focus:outline-none flex-1">
            <input type="email" name="email" placeholder="email"
                   class="bg-gray-700 text-white px-3 py-2 rounded-md focus:outline-none flex-1">
            <input type="url" name="image" placeholder="image url"
                   class="bg-gray-700 text-white px-3 py-2 rounded-md focus:outline-none flex-1">
            <button type="submit" 
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">
                Create User
            </button>
        </form>
    </div>

</body>
</html>
