@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ochi1;
    src: url(./assets/FoundersGrotesk-Semibold.woff);
}

@font-face {
    font-family: ochi2;
    src: url(./assets/FoundersGrotesk-Semibold.woff2);
}

@font-face {
    font-family: ochi3;
    src: url(./assets/icomoon.woff);
}

@font-face {
    font-family: ochi4;
    src: url(./assets/NeueMontreal-Regular.woff);
}

@font-face {
    font-family: ochi5;
    src: url(./assets/NeueMontreal-Regular.woff2);
}